{% load static %}
<footer id="footer" class="shock-footer scheme-1 primary">
      <div class="footer-content focus-trigger">
        <div class="container">
          <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="footer-item">
                <!-- Brand -->
                <a href="index.html" class="footer-brand floating-item">
                  <!-- <div class="site-title">Site Title</div> -->
                  <img src="{% static 'main/assets/images/logo-white.svg' %}" alt="Shock Theme" class="logo" />
                  <span class="logo-after-text">PYTHONSTACKS</span>
                </a>
                <!-- Text -->
                <div class="footer-text">
                  <p>PythonStacks is a creative multipurpose theme for building websites.</p>
                </div>
              </div>
              <div class="footer-item">
                <!-- Icon list -->
                <div class="list-wrapper">
                  <ul class="icon-h-list">
                    <li class="item ms-0">
                      <a href="https://github.com/janprince" class="link gray primary-hover hover-rotate" target="_blank"><i class="icon fab fa-github"></i></a>
                    </li>
                    <li class="item">
                      <a href="https://twitter.com/PythonStacks" class="link gray primary-hover hover-rotate" target="_blank"><i class="icon fab fa-twitter"></i></a>
                    </li>
                    <li class="item">
                      <a href="mailto:info@pythonstacks.com" class="link gray primary-hover hover-rotate"><i class="icon fa fa-envelope"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="footer-item">
                <!-- Button -->
                <div class="hover-up-down">
                  <a href="tel:+233 558151870" class="button outline rounded gray primary-hover">
                    <i class="fa-solid fa-phone button-icon left-icon gray white-hover"></i>
                    <span class="button-text gray white-hover">+233 55 815 1870</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="footer-item">
                <h6 class="title">Quick Links</h6>
                <!-- Links list -->
                <ul class="nav-list list-unstyled">
                  <li class="nav-item">
                    <a href="{% url 'main:index' %}" class="nav-link">
                      <span class="text">Homepage</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'blog:index' %}" class="nav-link">
                      <span class="text">Blog</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="https://click.linksynergy.com/deeplink?id=w7*S3fGR7tg&mid=47901&murl=https%3A%2F%2Fwww.udemy.com%2F" class="nav-link">
                      <span class="text">Learn</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'main:contact' %}" class="nav-link">
                      <span class="text">Contact</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <span class="text">Social Media</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="footer-item">
                <h6 class="title">Popular Searches</h6>
                <!-- Tag Cloud -->
                <div class="tag-cloud">
                  <a href="#your-link" class="link">
                    <span class="badge outline gray-50 primary-hover">
                      <span class="badge-text gray white-hover">Web Development</span>
                    </span>
                  </a>
                  <a href="#your-link" class="link">
                    <span class="badge outline gray-50 primary-hover floating-item-smooth">
                      <span class="badge-text gray white-hover">Python</span>
                    </span>
                  </a>
                  <a href="#your-link" class="link">
                    <span class="badge outline gray-50 primary-hover">
                      <span class="badge-text gray white-hover">Blockchain</span>
                    </span>
                  </a>
                  <a href="#your-link" class="link">
                    <span class="badge outline gray-50 primary-hover">
                      <span class="badge-text gray white-hover">Hacking</span>
                    </span>
                  </a>
                  <a href="#your-link" class="link">
                    <span class="badge outline gray-50 primary-hover">
                      <span class="badge-text gray white-hover">Django</span>
                    </span>
                  </a>
                  <a href="#your-link" class="link">
                    <span class="badge outline gray-50 primary-hover">
                      <span class="badge-text gray white-hover">Online Courses</span>
                    </span>
                  </a>
                  <a href="#your-link" class="link">
                    <span class="badge outline gray-50 primary-hover">
                      <span class="badge-text gray white-hover">Product</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="footer-item">
                <h6 class="title">Susbcribe</h6>
                <!-- Text -->
                <div class="footer-text">
                  <p>Subscribe to our newsletter and stay up to date with our blog.</p>
                  <p>By submitting this form you agree to the <a href="#" class="link gray primary-hover"><u>terms of use</u>.</a></p>
                </div>
                <!-- Form -->
                <div class="form-area scheme-2">
                  <form class="form-fields needs-validation" novalidate="novalidate">
                    <div class="form-row row has-icon">
                      <div class="form-col form-floating">
                        <button class="button overlay-button"><img class="overlay-image-icon" src="{% static 'main/assets/svg/send-outline.svg' %}" alt="Icon name" data-shock-icon="32" /></button>
                        <input id="InputFloatingFooter" class="form-control focus-trigger-field" name="InputFloatingFooter" placeholder="Type your email..." required="required">
                        <label for="InputFloatingFooter" class="form-label">Type your email...</label>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="bottom-bar">-->
<!--        <div class="text">© 2022 - All rights reserved. Developed with ❤ and maintained by <u>PythonStacks</u></div>-->
<!--      </div>-->
    </footer>