 <section class="shock-section has-overlay pt-5 pb-5 bg-image bg-fixed" data-bg-image="{% static 'main/assets/images/jpg/a-41.jpg' %}">
        <div class="container max-w-85">
          <div class="row">
            <div class="col-12 col-md-6 align-h-center align-v-center">
              <!-- Intro -->
              <div class="side-intro">
                <h2 class="title text-style-5">
                  <span class="text-1 text-outline white-75">Subscribe now</span>
                  <span class="text-2 text-italic white">to our <mark class="animated-underline primary">newsletter</mark> !</span>
                </h2>
                <div class="description gray">
                  <p>Subscribe to our newsletter and follow our content closely.<br>Receive news based on what has to do with you.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 align-h-center align-v-center">
              <!-- Form -->
              <div class="form-area scheme-2 primary">
                <form class="form-fields needs-validation" novalidate="novalidate">
                  <div class="form-row row">
                    <div class="form-col form-floating col-12 col-md-6">
                      <input id="InputFloatingName" class="form-control" type="text" placeholder="Name" required="required">
                      <label for="InputFloatingName" class="form-label">Name</label>
                      <div class="invalid-feedback">Please enter your name.</div>
                      <div class="valid-feedback">Looks good.</div>
                    </div>
                    <div class="form-col form-floating col-12 col-md-6">
                      <input id="InputFloatingEmail" class="form-control" type="email" placeholder="name@example.com" required="required">
                      <label for="InputFloatingEmail" class="form-label">Email</label>
                      <div class="invalid-feedback">Please enter a valid email address.</div>
                      <div class="valid-feedback">Looks good.</div>
                    </div>
                  </div>
                  <div class="form-row row">
                    <div class="form-col col-12">
                      <div class="form-check">
                        <input id="InputCheckbox" class="form-check-input" type="checkbox" required="required">
                        <label class="form-label form-check-label" for="InputCheckbox">
                          I agree to the <a href="#your-link" class="link white primary-hover"><u>terms of use</u>.</a>
                        </label>
                        <div class="invalid-feedback">Please accept the terms to continue.</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row row">
                    <div class="form-col col-12">
                      <!-- Button -->
                      <button class="button arrow-button next scheme-2 primary">
                        <span class="arrow">
                          <span class="item"></span>
                          <span class="item"></span>
                        </span>
                        <span class="line"></span>
                        <span class="text">SUBSCRIBE</span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Overlay -->
        <div class="overlay black-75"></div>
      </section>