{% extends 'main/base.html' %}
{% load static %}

{% block title %}
  <title>Articles and Tutorials | PythonStacks</title>
{% endblock title %}

{% block meta %}
  <meta name="description" content="Mastering Python: Tips, Tricks, and Techniques for Effective Programming">
{% endblock meta %}

{% block main_content %}
    <main id="main" class="shock-main">

      <!-- Banner -->
      <section class="shock-section has-overlay">
        <div class="banner">
          <div class="content-wrapper">
            <!-- Intro -->
            <div class="basic-intro text-center">
              <h1 class="title white">
                <span class="text-1 text-style-3 text-outline">Master Python</span>
                <span class="text-2 text-style-3 text-italic">with our <mark class="animated-underline primary">in-depth blog</mark></span>
              </h1>
              <div class="description text-style-12 gray">
                <p>Whether you're looking to build your own applications, automate tasks, or simply learn more about Python, our blog has something for you.</p>
              </div>
            </div>
          </div>
          <!-- Image -->
          <div class="image-wrapper">
            <img src="{% static 'main/assets/images/jpg/homeimage-min.jpg' %}" class="image vh-85 fit-cover" alt="This is an example description for this item." />
          </div>
          <!-- Overlay -->
          <div class="overlay black-75"></div>
        </div>
      </section>

      <!-- Blog -->
      <section class="shock-section pt-5 pb-5 bg-color gray-10">
        <div class="container">
          <div id="load-more" class="row g-5" data-display="6" data-columns="2">
            {% for post in posts %}
              <div class="col-12 col-md-6 load-more-item">
                <div class="card has-image has-metadata is-horizontal shadow parent">
                <!-- Label -->
                <span class="label-vertical to-bottom-right-out">
                  <span class="label-line gray"></span>
                  <span class="label-text gray"><i class="icon fas fa-user-circle"></i> {{ post.author.user.get_full_name}}</span>
                </span>
                <!-- Image -->
                <div class="image-wrapper hover-scale">
                  {% if post.image %}
                  <img src="{{ post.image.url }}" alt="" class="image" />
                  {% else %}
                  <img src="{% static 'main/assets/images/jpg/a-15.jpg' %}" alt="Image name" class="image" />
                  {% endif %}
                </div>
                <!-- Body -->
                <div class="card-body bg-color white">
                  <h3 class="title text-style-11 black">{{ post.title }}</h3>
                  <p class="description line-clamp-3">{{ post.meta_description }}</p>
                  <hr class="gray-25">
                  <!-- Tag Cloud -->
                  <div class="tag-cloud">
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">4 months ago</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">{{ post.category.category }}</span>
                      </span>
                    </a>
                  </div>
                </div>
                <!-- Link -->
                <a href="{% url 'blog:detail' post.slug %}" class="full-link"></a>
              </div>
              </div>
            {% endfor %}
          </div>
          <div class="mt-4 text-center">
            <!-- Button -->
            <button id="load-more-button" class="button shadow black primary-hover button-collision">
              <span class="button-text white white-hover">Load more</span>
              <i class="fa-solid fa-arrow-rotate-right button-icon white white-hover"></i>
            </button>
          </div>
        </div>
      </section>

    </main>
{% endblock main_content %}