{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
  <meta name="description" content="{{ post.meta_description }}">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@PythonStacks" />
  <meta name="twitter:title" content="{{ post.title }}" />
  <meta name="twitter:description" content="{{ post.meta_description }}" />
  {% if post.image %}<meta name="twitter:image" content="https://www.pythonstacks.com{{ post.image.url }}" />{% endif %}

  <meta property="og:url" content="https://www.pythonstacks.com{{ post.get_absolute_url }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:description" content="{{ post.meta_description }}" />
  {% if post.image %}<meta property="og:image" content="https://www.pythonstacks.com{{ post.image.url }}" />{% endif %}
{% endblock meta %}

{% block title %}
  <title>{{ post.title }} | PythonStacks</title>
{% endblock title %}

 {% block extra_css %}
    <style>

    </style>
  {% endblock extra_css %}

{% block main_content %}
    <!-- Main -->
    <main id="main" class="shock-main">

      <!-- Banner -->
      <section class="shock-section has-overlay">
        <div class="banner">
          <div class="content-wrapper">
            <!-- Intro -->
            <div class="extended-intro max-w-65">
              <h1 class="title white mb-3">
<!--                <span class="text-1 text-style-1 text-outline">Why design</span>-->
<!--                <span class="text-2 text-style-3 text-italic">matters to <mark class="animated-underline primary">our lives</mark> ?</span>-->

                <span class="text-style-3 mt-5 d-none d-md-block" style="font-size: 50px;">{{ post.title }}</span>
                <span class="text-style-3 mt-5 d-md-none" style="font-size: 35px;">{{ post.title }}</span>

              </h1>
              <p class="text-white h3 mt-2 fs-5 ">{{ post.meta_description }}</p>
            <p class="text-white text-italic mt-5">Last Updated: {{ post.last_mod | date:"F d, Y" }}
            </div>
          </div>
          <!-- Image -->
          <div class="image-wrapper">
            <img src="{% if post.image %}{{post.image.url}}{%else%}{% static 'main/assets/images/jpg/a-15.jpg' %}{% endif %}" class="image fit-cover vh-75" alt="This is an example description for this item." />
          </div>
          <!-- Overlay -->
          <div class="overlay black-75"></div>
        </div>
      </section>

      <!-- Post -->
      <section class="shock-section pt-5 pb-5">
        <div class="container max-w-85">
          <div class="row g-5">
            <div class="col-12 col-md-10 col-lg-7 mx-auto">
              <div class="content max-w-100 scheme-1">

                <div style="font-size: 17px; font-family: 'Source Sans Pro', sans-serif; color: #404447">
                 {{ post.content | safe }}
                </div>

                <!-- Post navigation-->
                <div class="block-section">
                  <div class="post-navigation">
                    <div class="post-navigation-buttons">
                      <!-- Button -->
                      <a href="#" class="arrow-button prev scheme-1 primary">
                        <span class="arrow">
                          <span class="item"></span>
                          <span class="item"></span>
                        </span>
                        <span class="line"></span>
                        <span class="text">PREV ARTICLE</span>
                      </a>
                      <!-- Button -->
                      <a href="#" class="arrow-button next scheme-1 primary">
                        <span class="arrow">
                          <span class="item"></span>
                          <span class="item"></span>
                        </span>
                        <span class="line"></span>
                        <span class="text">NEXT ARTICLE</span>
                      </a>
                    </div>
                  </div>
                </div>

                <!-- Divider -->
                <div class="block-section">
                  <span class="zzz scheme-1 gray-75"></span>
                </div>

                <!-- Tag Cloud -->
                <div class="block-section">
                  <h2>Tags</h2>
                  <div class="tag-cloud">
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Environment</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Events</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Technology</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Web</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Mobile</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Design</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline active gray-50 primary-hover floating-item-smooth">
                        <span class="badge-text gray white-hover">Branding</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Development</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Artificial</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Intelligence</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Engineering</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Innovation</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Social</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Fashion</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Product</span>
                      </span>
                    </a>
                  </div>
                </div>

                <!-- Post reference -->
                <div class="block-section">
                  <div class="post-reference" data-lax="inertia-top">
                    <div class="d-none d-md-block">
                      <a href="https://click.linksynergy.com/fs-bin/click?id=w7*S3fGR7tg&offerid=1074652.454&subid=0&type=4">
                    <IMG border="0"   alt="Udemy APAC" src="{% static 'main/assets/images/png/ad_wide.png' %}">
                      </a>
                  </div>
                  </div>
                </div>

                <!-- Comments -->
                <div class="comments">
                  <h2>Comments <span class="text-outline">({{ comments.count }})</span></h2>
                  <div class="comments-wrapper">
                    {% for comment in comments %}
                    <!-- Comment -->
                    <div id="comment-1" class="comment">
                      <div class="comment-metadata">
                        <div class="comment-author">
                          <div class="author-photo">
                            <img src="{% static 'main/assets/images/png/profile.png' %}" class="image shadow" alt="Image name">
                          </div>
                          <h5 class="author-name">{{ comment.name }}</h5>
                        </div>
                        <span class="comment-date">
                          <i class="icon fas fa-calendar-alt"></i>
                          <span class="text">{{ comment.created_on | date:"F d, Y" }}</span>
                        </span>
                      </div>
                      <div class="comment-content">
                        <p>{{ comment.comment | linebreaks }}</p>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <!-- Form -->
                  <div class="form-area scheme-1 primary">
                    <h3>Leave a reply</h3>
<!--                    <p>To write a comment you need to <a href="#" target="_blank"><u>login</u></a> to your account.</p>-->
                    <form class="form-fields needs-validation" method="post">
                      {% csrf_token %}
                      <div class="form-row row">
                        <div class="form-col col-6">
                          <input type="text" name="name"  placeholder="Name"  class="form-control rounded-3" required/>
                          <div class="invalid-feedback">Please enter your name.</div>
                        </div>
                        <div class="form-col col-6">
                          <input type="text" name="email"  placeholder="Email"  class="form-control rounded-3" required/>
                          <div class="invalid-feedback">Please enter your name.</div>
                        </div>
                      </div>
                      <div class="form-row row">
                        <div class="form-col col-12">
                          <textarea class="form-control rounded-3 form-textarea" id="InputCompactExampleMessage" rows="3" name="comment" placeholder="Comment" required="required"></textarea>
                          <div class="invalid-feedback">Please type something to post a comment.</div>
                        </div>
                      </div>

                      <div class="form-row row">
                        <div class="form-col col-12">
                          <!-- Button -->
                          <button class="button shadow rounded-3 black primary-hover button-collision">
                            <span class="button-text white white-hover">Post comment</span>
                            <i class="fa-solid fa-arrow-right button-icon white white-hover"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Sidebar -->
            <div class="col-12 col-lg-3 mx-auto">
              <aside class="shock-sidebar top-sidebar scheme-1">
                <!-- AD -->
                <div class="sidebar-block text-center">
                  <a href="https://click.linksynergy.com/fs-bin/click?id=w7*S3fGR7tg&offerid=1074652.454&subid=0&type=4">
                    <IMG border="0" class="img-fluid"  alt="Udemy APAC" src="{% static 'main/assets/images/jpg/eth-min.jpg' %}">
                  </a>
                </div>
              </aside>
              <aside class="shock-sidebar scheme-1" data-sticky="100">
                <!-- Search form -->
                <div class="sidebar-block focus-trigger">
                  <h5 class="title">What are you looking for?</h5>
                  <div class="form-area scheme-1 primary">
                    <form class="form-fields needs-validation" novalidate="novalidate">
                      <div class="form-row row has-icon">
                        <div class="form-col form-floating">
                          <button class="button overlay-button"><img class="overlay-image-icon" src="{% static 'main/assets/svg/send-outline.svg' %}" alt="Icon name" data-shock-icon="32" /></button>
                          <input id="InputSearchSidebar" class="form-control focus-trigger-field" name="InputSearchSidebar" placeholder="Type keywords..." required="required">
                          <label for="InputSearchSidebar" class="form-label">Type keywords...</label>
                          <div class="invalid-feedback">Please type something.</div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- AD -->
                <div class="sidebar-block text-center">
                  <a href="https://click.linksynergy.com/fs-bin/click?id=w7*S3fGR7tg&offerid=1074652.454&subid=0&type=4">
                    <IMG border="0" class="img-fluid"  alt="Udemy APAC" src="{% static 'main/assets/images/png/ad.png' %}">
                  </a>
                </div>
                <!-- Tag cloud -->
                <div class="sidebar-block">
                  <h5 class="title">Category Cloud</h5>
                  <div class="tag-cloud">
                    {% for cat in categories %}
                      <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">{{ cat.category }}</span>
                      </span>
                    </a>
                    {% endfor %}

                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Mobile</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Design</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline active gray-50 primary-hover floating-item-smooth">
                        <span class="badge-text gray white-hover">Branding</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Development</span>
                      </span>
                    </a>
                    <a href="#your-link" class="link">
                      <span class="badge outline gray-50 primary-hover">
                        <span class="badge-text gray white-hover">Artificial</span>
                      </span>
                    </a>
                  </div>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </section>

      <!-- Divider -->
      <section class="shock-section">
        <div class="container">
          <span class="zzz scheme-1 gray-75"></span>
        </div>
      </section>

      <!-- Related posts -->
      <section class="shock-section pt-5 pb-5">
        <!-- Intro -->
        <div class="basic-intro mb-35 text-center">
          <h2 class="title text-style-5 black">
            <span class="text-1 text-outline">Also read </span>
            <span class="text-2 text-italic">related <mark class="animated-underline primary">posts</mark>.</span>
          </h2>
        </div>
        <div class="container">
          <!-- Posts -->
          <div class="row g-4">
            {% for post in posts %}
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card parent">
                  <!-- Label -->
                  <span class="label-vertical to-bottom-right-out hover-show">
                    <span class="label-line gray"></span>
                    <span class="label-text gray"><i class="icon fas fa-user-circle"></i> By Laura Garcia</span>
                  </span>
                  <div class="card-body">
                    <h3 class="title text-style-11 black">{{ post.title }}</h3>
                    <p class="description">{{ post.meta_description }}</p>
                    <hr class="gray-25">
                    <!-- Tag Cloud -->
                    <div class="tag-cloud">
                      <a href="#your-link" class="link">
                        <span class="badge outline gray-50 primary-hover">
                          <span class="badge-text gray white-hover">14 days ago</span>
                        </span>
                      </a>
                      <a href="#your-link" class="link">
                        <span class="badge outline gray-50 primary-hover">
                          <span class="badge-text gray white-hover">Events</span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <!-- Link -->
                  <a href="{% url 'blog:detail' post.slug %}" class="full-link">
                    {% if post.image %}
                      <div class="overlay shadow magnetic-effect hover-show bg-image" data-bg-image="{{ post.image.url }}"></div>
                    {% else %}
                      <div class="overlay shadow magnetic-effect hover-show bg-image" data-bg-image="{% static 'main/assets/images/jpg/a-7.jpg' %}"></div>
                    {% endif %}
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>


    </main>

    <!-- Side Widget -->
    <div class="side-widget to-left invert-color mix-blend-difference d-only-desktop">
      <div class="item">
        <span class="widget label-icons">
          <a href="#your-link" class="link black black-hover"><i class="icon fab fa-facebook-f"></i></a>
          <a href="#your-link" class="link black black-hover"><i class="icon fab fa-twitter"></i></a>
          <a href="#your-link" class="link black black-hover"><i class="icon fab fa-linkedin-in"></i></a>
          <span class="label-line black"></span>
        </span>
      </div>
    </div>
{% endblock main_content %}

