{% extends 'main/base.html' %}
{% load static %}

{% block title %}
  <title>Contact Us | PythonStacks</title>
{% endblock title %}

{% block meta %}
  <meta name="description" content="Contact PythonStacks at admin@pythonstacks.com.">
{% endblock meta %}

{% block main_content %}
<main id="main" class="shock-main">

      <!-- Banner / Collapse / Form -->
      <section class="shock-section has-overlay pb-5">
        <div class="banner">
          <div class="content-wrapper text-center">
            <div class="container">
              <!-- Intro -->
              <div class="extended-intro max-w-75 mb-35">
                <h1 class="title white">
                  <span class="text-1 text-style-2">Request an expert</span>
                  <span class="text-2 text-style-4 text-italic">building a better world.</span>
                </h1>
              </div>
            </div>
          </div>
          <!-- Image -->
          <div class="image-wrapper">
            <img src="{% static 'main/assets/images/jpg/a-41.jpg' %}" class="image vh-75 fit-cover" alt="This is an example description for this item." />
          </div>
          <!-- Overlay -->
          <div class="overlay black-50"></div>
        </div>
        <div class="container">
          <div class="row g-4">
            <div class="col-12 col-md-6 align-v-start order-2 order-md-1">
              <!-- Collapse -->
              <div class="collapsible mt-35">
                <div class="collapse-group">
                  <a href="#collapse-1" class="collapse-toggle parent" aria-expanded="true" aria-controls="collapse-1" data-bs-toggle="collapse">
                    <div class="collapse-button rounded gray-25">
                      <span class="arrow-button cross scheme-1 primary">
                        <span class="arrow">
                          <span class="item"></span>
                          <span class="item"></span>
                        </span>
                        <span class="line"></span>
                      </span>
                    </div>
                    <h3 class="title text-style-11 black">
                      Why is this question already showing the answer?
                    </h3>
                  </a>
                  <div id="collapse-1" class="collapse-content collapse show">
                    <p>Because a class called <mark class="animated-underline accent text-black">show</mark> was set in the html and thus it stays open when loading the page.</p>
                    <p>This is certainly useful to keep the most important question and answer highlighted.</p>
                  </div>
                </div>
                <div class="collapse-group">
                  <a href="#collapse-2" class="collapse-toggle parent" aria-expanded="false" aria-controls="collapse-2" data-bs-toggle="collapse">
                    <div class="collapse-button rounded gray-25">
                      <span class="arrow-button cross scheme-1 primary">
                        <span class="arrow">
                          <span class="item"></span>
                          <span class="item"></span>
                        </span>
                        <span class="line"></span>
                      </span>
                    </div>
                    <h3 class="title text-style-11 black">
                      How to make a word have this highlight color?
                    </h3>
                  </a>
                  <div id="collapse-2" class="collapse-content collapse">
                    <p>To get this highlighted text, <mark class="animated-underline accent text-black">just use the html mark tag</mark>, and use a color class. 😃</p>
                    <p>Also works well with <mark class="animated-underline primary-50 text-black">other colors</mark> by adding a color class to the element, but use it sparingly or it may become exaggerated.</p>
                  </div>
                </div>
                <div class="collapse-group">
                  <a href="#collapse-3" class="collapse-toggle parent" aria-expanded="false" aria-controls="collapse-3" data-bs-toggle="collapse">
                    <div class="collapse-button rounded gray-25">
                      <span class="arrow-button cross scheme-1 primary">
                        <span class="arrow">
                          <span class="item"></span>
                          <span class="item"></span>
                        </span>
                        <span class="line"></span>
                      </span>
                    </div>
                    <h3 class="title text-style-11 black">
                      This theme is very beautiful, but is it easy to use?
                    </h3>
                  </a>
                  <div id="collapse-3" class="collapse-content collapse">
                    <p>Yea! 😍</p>
                    <p>This theme was made to make it easier to build any type of website. Also the item support is very friendly and professional.</p>
                    <img src="{% static 'main/assets/images/gif/gif.gif' %}" alt="Image name" class="image max-w-50" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 order-1 order-md-2">
              <div class="holder p-25 climb shadow rounded bg-color white" data-lax="inertia-top">
                <!-- Intro -->
                <div class="basic-intro mb-15">
                  <h2 class="title black">
                    <span class="text-1 text-style-7">How can we </span>
                    <span class="text-2 text-style-8 text-italic typed-text"></span>
                  </h2>
                  <!-- Srings -->
                  <div id="typed-strings">
                    <span>talk to you?</span>
                    <span>help your company?</span>
                    <span>show solutions?</span>
                  </div>
                </div>
                <!-- Form -->
                <div class="form-area scheme-1 primary">
                  {% if new_contact %}
                    <div class="alert alert-success" role="alert">
                      Message Sent! We will get back to you shortly.
                    </div>
                  {% else %}
                  <form class="form-fields needs-validation" novalidate="novalidate" action="{% url 'main:contact' %}" method="post">
                    {% csrf_token %}
                    <div class="form-row row">
                      <div class="form-col form-floating col-12 col-md-6">
                        <input type="text" name="name" class="form-control" id="InputFloatingName" placeholder="Name" required="required">
                        <label for="InputFloatingName" class="form-label">Name</label>
                        <div class="invalid-feedback">Please enter your name.</div>
                        <div class="valid-feedback">Looks good.</div>
                      </div>
                      <div class="form-col form-floating col-12 col-md-6">
                        <input type="email" name="email" class="form-control" id="InputFloatingEmail" placeholder="name@example.com" required="required">
                        <label for="InputFloatingEmail" class="form-label">Email</label>
                        <div class="invalid-feedback">Please enter a valid email address.</div>
                        <div class="valid-feedback">Looks good.</div>
                      </div>
                    </div>
                    <div class="form-row row">
                      <div class="form-col form-floating col-12">
                        <div class="form-col form-floating">
                        <input type="text" name="subject" class="form-control" id="InputFloatingSubject" required="required">
                        <label for="InputFloatingSubject" class="form-label">Subject</label>
                        <div class="invalid-feedback">Please enter something</div>
                        <div class="valid-feedback">Looks good.</div>
                      </div>
                      </div>
                    </div>
                    <div class="form-row row">
                      <div class="form-col form-floating col-12">
                        <textarea class="form-control form-textarea" name="message" id="InputFloatingMessage" rows="3" placeholder="Enter your message (optional)."></textarea>
                        <label for="InputFloatingMessage" class="form-label">Message</label>
                        <div class="valid-feedback">It's optional, but we'd like to know about it :)</div>
                      </div>
                    </div>
                    <div class="form-row row">
                      <div class="form-col form-floating col-12">
                        <button class="button double-edge transparent primary-hover">
                          <span class="button-text black white-hover">Send message</span>
                          <i class="fa-solid fa-arrow-right button-icon black white-hover"></i>
                          <span class="overlay gray-50 magnetic-effect"></span>
                        </button>
                      </div>
                    </div>
                  </form>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Card boxed -->
      <section class="shock-section pt-5 pb-5">
        <div class="container">
          <div class="row mb-35">
            <div class="col-12 col-md-8">
              <!-- Intro -->
              <div class="basic-intro">
                <h2 class="title black">
                  <span class="text-1 text-style-5">Expert</span>
                  <span class="text-2 text-style-6 text-italic">service units.</span>
                </h2>
                <div class="description gray">
                  <p>Over many years of work, we have built a very successful history in our area of expertise.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 align-h-right align-v-bottom">
              <!-- Button -->
              <a href="#your-link" class="button double-edge mt-3 transparent primary-hover">
                <span class="button-text black white-hover">Read more</span>
                <i class="fa-solid fa-arrow-right button-icon black white-hover"></i>
                <span class="overlay gray-50 magnetic-effect"></span>
              </a>
            </div>
          </div>
          <div class="row g-4">
            <div class="col-12 col-md-6">
              <div class="card boxed parent">
                <!-- Image -->
                <div class="image-wrapper shadow rounded">
                  <img src="{% static 'main/assets/images/jpg/b-34.jpg' %}" alt="Image name" class="image min-vh-50 fit-cover" />
                </div>
                <!-- Box -->
                <div class="card-body box shadow rounded bg-color white">
                  <!-- Label -->
                  <span class="label-vertical outline">
                    <span class="label-line gray"></span>
                    <span class="label-text gray">Las Vegas</span>
                  </span>
                  <!-- Link -->
                  <h3 class="title text-style-11 black">
                    <a href="tel:+19912345678" target="_blank" class="link align-v-center black black-hover hover-up-down">
                      <i class="fa-solid fa-phone icon"></i>
                      <span class="text ms-05">+1 (99) 1234 5678</span>
                      <span class="badge ms-05 primary primary-hover">
                        <span class="badge-text white white-hover">Mon-Sat</span>
                      </span>
                    </a>
                  </h3>
                  <p class="description gray">Our headquarters in Las Vegas works for face-to-face from Monday to Saturday for 24 hours.</p>
                  <div class="list-wrapper align-h-right hover-up-down">
                    <ul class="icon-h-list">
                      <li class="item">
                        <a href="#your-link" target="_blank" class="link black primary-hover hover-rotate"><i class="fa-regular fa-map icon"></i></a>
                      </li>
                      <li class="item">
                        <a href="mailto:contact@mail.com" target="_blank" class="link black primary-hover hover-rotate"><i class="fa-regular fa-envelope icon"></i></a>
                      </li>
                      <li class="item me-0">
                        <a href="https://wa.me/+19912345678?text=Hello..." target="_blank" class="link black primary-hover hover-rotate"><i class="fa-brands fa-whatsapp icon"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="card boxed parent">
                <!-- Image -->
                <div class="image-wrapper shadow rounded">
                  <img src="{% static 'main/assets/images/jpg/b-35.jpg' %}" alt="Image name" class="image min-vh-50 fit-cover" />
                </div>
                <!-- Box -->
                <div class="card-body box shadow rounded bg-color white">
                  <!-- Label -->
                  <span class="label-vertical outline">
                    <span class="label-line gray"></span>
                    <span class="label-text gray">Spring Valley</span>
                  </span>
                  <!-- Link -->
                  <h3 class="title text-style-11 white">
                    <a href="tel:+19812345678" target="_blank" class="link align-v-center black black-hover hover-up-down">
                      <i class="fa-solid fa-phone icon"></i>
                      <span class="text ms-05">+1 (98) 1234 5678</span>
                      <span class="badge ms-05 primary primary-hover">
                        <span class="badge-text white white-hover">Mon-Fri</span>
                      </span>
                    </a>
                  </h3>
                  <p class="description gray">Our branch in Spring Valley works for face-to-face from Monday to Friday from 10 am to 6 pm.</p>
                  <div class="list-wrapper align-h-right hover-up-down">
                    <ul class="icon-h-list">
                      <li class="item">
                        <a href="#your-link" target="_blank" class="link black primary-hover hover-rotate"><i class="fa-regular fa-map icon"></i></a>
                      </li>
                      <li class="item">
                        <a href="mailto:contact@mail.com" target="_blank" class="link black primary-hover hover-rotate"><i class="fa-regular fa-envelope icon"></i></a>
                      </li>
                      <li class="item me-0">
                        <a href="https://wa.me/+19912345678?text=Hello..." target="_blank" class="link black primary-hover hover-rotate"><i class="fa-brands fa-whatsapp icon"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

{% endblock main_content %}